<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Stereo Entertainment Category Bootstrap responsive Website Template | Home :: W3layouts</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Stereo Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta-Tags -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--bootstrap-css-->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!--font-awesome-css-->
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
	<!--flexslider-css-->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--style-sheet-->
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Raleway:200,300,400,600,700,800,900" rel="stylesheet">
	<!--//fonts-->

</head>

<body>
	<!--banner start here-->
	<div class="banner" id="home">
		<div class="w3-agile-dot">
			<div class="header">
				<div class="header-main">
					<div class="container">
						<nav class="navbar navbar-default">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h1>
									<a href="index.html">Stereo</a>
								</h1>
							</div>
							<!-- navbar-header -->
							<div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

								<ul class="nav navbar-nav navbar-right">
									<li>
										<a href="index.html" class="active scroll">Home</a>
									</li>
									<li>
										<a href="#about" class="scroll">About</a>
									</li>
									<li>
										<a href="#services" class="scroll">Services</a>
									</li>
									<li>
										<a href="#team" class="scroll">Team</a>
									</li>
									<li>
										<a href="#gallery" class="scroll">Gallery</a>
									</li>
									<li>
										<a href="#contact" class="scroll">Contact</a>
									</li>
								</ul>

							</div>

							<div class="w3-agile-sectn_search">
								<div class="cd-main-header">
									<ul class="cd-header-buttons">
										<li>
											<a class="cd-search-trigger" href="#cd-search">
												<span></span>
											</a>
										</li>
									</ul>
									<!-- cd-header-buttons -->
								</div>
								<div id="cd-search" class="cd-search">
									<form action="#" method="post">
										<input name="Search" type="search" placeholder="Click enter after typing">
									</form>
								</div>
							</div>


							<div class="clearfix"> </div>
						</nav>
					</div>
				</div>
				<div class="container">
					<div class="banner-bottom">
						<section class="slider">
							<div class="flexslider">
								<ul class="slides">
									<li>
										<div class="banner-bottom-text">
											<h3>We are the best in this field</h3>

										</div>
									</li>
									<li>
										<div class="banner-bottom-text">
											<h3>We can dance forever</h3>
										</div>
									</li>
									<li>
										<div class="banner-bottom-text">
											<h3>We know how to have fun</h3>

										</div>
									</li>
									<li>
										<div class="banner-bottom-text">
											<h3>Press play and go</h3>
										</div>
									</li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</section>
						<div class="thim-click-to-bottom">
							<a href="#about" class="scroll">
								<i class="fa fa-chevron-down" aria-hidden="true"></i>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--banner end here-->
	<!-- about -->
	<div class="about" id="about">
		<div class="banner_bottom_w3-agile_grids">
			<div class="container">
				<h3 class="w3layouts-heading">About
					<span>Us</span>
				</h3>
				<div class="banner_bottom_right_grids">
					<div class="col-md-4 banner_bottom_right_grid">
						<div class="view view-tenth ab1">
							<div class="w3-agile_text_box">
								<span class="fa fa-bullhorn" aria-hidden="true"></span>
								<h3>Corporate Events</h3>
								<p class="paragraph-w3l">Lorem ipsum dolor sit amet, consectetur adip.</p>
							</div>
							<div class="mask">
								<img src="images/a1.jpg" class="img-responsive" alt="">
							</div>
						</div>
					</div>
					<div class="col-md-4 banner_bottom_right_grid">
						<div class="view view-tenth ab2">
							<div class="w3-agile_text_box">
								<span class="fa fa-cubes" aria-hidden="true"></span>
								<h3>Branded Events</h3>
								<p class="paragraph-w3l">Lorem ipsum dolor sit amet, consectetur adip.</p>
							</div>
							<div class="mask">
								<img src="images/a2.jpg" class="img-responsive" alt="">
							</div>
						</div>
					</div>

					<div class="col-md-4 banner_bottom_right_grid">
						<div class="view view-tenth ab3">
							<div class="w3-agile_text_box">
								<span class="fa fa-camera-retro" aria-hidden="true"></span>
								<h3>Commercial Shoots</h3>
								<p class="paragraph-w3l">Lorem ipsum dolor sit amet, consectetur adip.</p>
							</div>
							<div class="mask">
								<img src="images/a3.jpg" class="img-responsive" alt="">
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- about-bottom-->
		<div class="services-inner-agileits-w3layouts">
			<div class="container">
				<div class="col-md-8">
					<ul id="flexiselDemo1">
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="images/a1.jpg" alt=" " />
								</div>
								<div class="flex-info ">
									<h4>900
										<span>Happy Clients</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="images/a2.jpg" alt=" " />
								</div>
								<div class="flex-info flex-info1">
									<h4>250
										<span>Events</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="images/a3.jpg" alt=" " />
								</div>
								<div class="flex-info flex-info2">
									<h4>25
										<span>Singers</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="images/a2.jpg" alt=" " />
								</div>
								<div class="flex-info flex-info3">
									<h4>40
										<span>Musicians</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
					</ul>

				</div>
				<div class="col-md-4 content-pro-head">
					<h3>We are the best in this field</h3>
					<p class="paragraph-w3l">Lorem ipsum eos qui ratione voluptatem sequi nesciunt.nihil molestiae consequatur, vel illum qui dolorem eum fugiat
						quo voluptas nulla pariaturnihil molestiae consequatur, vel illum qui dolorem eum.</p>
					<div class="button-w3-agile-sectn">
						<a href="#" class="know-more" data-toggle="modal" data-target="#myModal1">Know More</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about-bottom -->
	<!-- //about -->
	<!-- Modal1 -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Stereo</h4>
					<img src="images/bann.jpg" alt=" " class="img-responsive">
					<h5>We are the best in this field</h5>
					<p>We work closely with you to understand your goals and aims, and then develop a new business plan,Our team of experts
						can help you succeed in managing any kind of conflicts.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->

	<!--services -->
	<!-- title-with-image -->
	<div class="title-img" id="services">
		<div class="container">
			<h3 class="bold-title">Services</h3>
		</div>
	</div>
	<!--// title-with-image -->
	<div class="services-agileits-w3layouts">
		<div class="container">
			<div class="services-agileits-w3layouts-w3layouts">
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-bookmark-o" aria-hidden="true"></i>
					<p class="paragraph-w3l">Vestibulum vitae eget augue.</p>
					<h4>Corporate Events</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-line-chart" aria-hidden="true"></i>
					<p class="paragraph-w3l">Vestibulum vitae eget augue.</p>
					<h4>Brand Events</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-money" aria-hidden="true"></i>
					<p class="paragraph-w3l">Vestibulum vitae eget augue.</p>
					<h4>Commercial Shoots</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					<p class="paragraph-w3l">Vestibulum vitae eget augue.</p>
					<h4>Han Parties</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-handshake-o" aria-hidden="true"></i>
					<p class="paragraph-w3l">Vestibulum vitae eget augue.</p>
					<h4>Birthday Parties</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-area-chart" aria-hidden="true"></i>
					<p class="paragraph-w3l">Vestibulum vitae eget augue.</p>
					<h4>Vip Services</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-users" aria-hidden="true"></i>
					<p class="paragraph-w3l">Vestibulum vitae eget augue.</p>
					<h4>Special Services</h4>
				</div>
				<img src="images/services1.png" class="img-responsive" alt="" />
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!-- //services -->
	<!-- Events -->
	<div class="events" id="events">
		<div class="container">
			<h3 class="w3layouts-heading">Latest
				<span>Events</span>
			</h3>
			<div class="events-row">
				<div class="col-md-4 events-grids">
					<div class="thumbnail events-wthree">
						<img src="images/g1.jpg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">Praesent a augue</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 12:10 feb 14 2018</p>
								</div>
								<p class="paragraph-w3l">Lorem Ipsum generators on the Internet tend to repeat as necessary</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 10</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 20</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="thumbnail events-wthree">
						<img src="images/g3.jpg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">Nam sollicitudin</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 23:30 feb 02 2018</p>
								</div>
								<p class="paragraph-w3l">Lorem Ipsum generators on the Internet tend to repeat as necessary</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 15</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 10</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 events-grids">
					<div class="thumbnail events-wthree">
						<img src="images/g4.jpg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">Vivamus auctor</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 14:30 jan 26 2018</p>
								</div>
								<p class="paragraph-w3l">Lorem Ipsum generators on the Internet tend to repeat as necessary</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 12</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 25</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="thumbnail events-wthree">
						<img src="images/g5.jpg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">Donec pretium</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 11:00 jan 02 2018</p>
								</div>
								<p class="paragraph-w3l">Lorem Ipsum generators on the Internet tend to repeat as necessary</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 20</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 30</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 events-grids">
					<div class="thumbnail events-wthree">
						<img src="images/g7.jpg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">Hendrerit mattis</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 23:15 jan 28 2018</p>
								</div>
								<p class="paragraph-w3l">Lorem Ipsum generators on the Internet tend to repeat as necessary</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 10</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 12</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="thumbnail events-wthree">
						<img src="images/g8.jpg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">Suspendisse</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 20:00 feb 10 2018</p>
								</div>
								<p class="paragraph-w3l">Lorem Ipsum generators on the Internet tend to repeat as necessary</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 30</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 15</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	</div>
	<!-- //Events -->
	<!-- team -->
	<div class="team" id="team">
		<!-- title-with-image -->
		<div class="title-img white-img">
			<div class="container">
				<h3 class="bold-title black-title">Our Team</h3>
			</div>
		</div>
		<!--// title-with-image -->
		<div class="container">
			<div class="agileits-w3layouts-team-grids">
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="images/t1.jpg" alt="">
						<div class="team-caption">
							<h4>Amanda Stuard</h4>
							<p>Singer</p>
							<ul>
								<li>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="images/t2.jpg" alt="">
						<div class="team-caption">
							<h4>Mike Brendon</h4>
							<p>Musician</p>
							<ul>
								<li>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="images/t3.jpg" alt="">
						<div class="team-caption">
							<h4>Mark Wilson</h4>
							<p>Musician</p>
							<ul>
								<li>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="images/t4.jpg" alt="">
						<div class="team-caption">
							<h4>Steven Wright</h4>
							<p>Singer</p>
							<ul>
								<li>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->

	<!-- gallery -->
	<div class="gallery" id="gallery">
		<div class="container">
			<h3 class="w3layouts-heading">Our
				<span>Gallery</span>
			</h3>
		</div>
		<div class="w3layouts-grids gal-agileits-w3layouts">
			<div id="jzBox" class="jzBox">
				<div id="jzBoxNextBig"></div>
				<div id="jzBoxPrevBig"></div>
				<img src="#" id="jzBoxTargetImg" alt="" />
				<div id="jzBoxBottom">
					<div id="jzBoxTitle"></div>
					<div id="jzBoxMoreItems">
						<div id="jzBoxCounter"></div>
						<i class="arrow-left" id="jzBoxPrev"></i>
						<i class="arrow-right" id="jzBoxNext"></i>
					</div>
					<i class="close" id="jzBoxClose"></i>
				</div>
			</div>
			<div class="gallery-grids-row">
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g1.jpg" class="jzBoxLink item-hover" title="Lorem ipsum dolor sit amet.">
							<img src="images/g1.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g2.jpg" class="jzBoxLink item-hover" title="Lorem ipsum dolor sit amet.">
							<img src="images/g2.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g3.jpg" class="jzBoxLink item-hover" title="Lorem ipsum dolor sit amet.">
							<img src="images/g3.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g4.jpg" class="jzBoxLink item-hover" title="Lorem ipsum dolor sit amet.">
							<img src="images/g4.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g5.jpg" class="jzBoxLink item-hover" title="Lorem ipsum dolor sit amet.">
							<img src="images/g5.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g6.jpg" class="jzBoxLink item-hover" title="Lorem ipsum dolor sit amet.">
							<img src="images/g6.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g7.jpg" class="jzBoxLink item-hover" title="Lorem ipsum dolor sit amet.">
							<img src="images/g7.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g8.jpg" class="jzBoxLink item-hover" title="Lorem ipsum dolor sit amet.">
							<img src="images/g8.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //gallery -->
	<!-- testimonials -->
	<div class="testimonials" id="testimonials">
		<div class="container">
			<h3 class="w3layouts-heading">Happy
				<span>Customers</span>
			</h3>
			<div class="col-md-12 col-xs-12" data-wow-delay="0.2s">
				<div class="carousel slide" data-ride="carousel" id="quote-carousel">
					<!-- Bottom Carousel Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#quote-carousel" data-slide-to="0" class="active">
							<img class="img-responsive " src="images/t1.jpg" alt="">
						</li>
						<li data-target="#quote-carousel" data-slide-to="1">
							<img class="img-responsive" src="images/t2.jpg" alt="">
						</li>
						<li data-target="#quote-carousel" data-slide-to="2">
							<img class="img-responsive" src="images/t3.jpg" alt="">
						</li>
					</ol>

					<!-- Carousel Slides / Quotes -->
					<div class="carousel-inner text-center">
						<!-- Quote 1 -->
						<div class="item active">
							<blockquote>
								<div class="row">
									<div class="col-sm-8 col-sm-offset-2 client-agileits-w3layouts-w3layouts">

										<p class="paragraph-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
											aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
											Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
										<h5>Helen Jean</h5>
									</div>
								</div>
							</blockquote>
						</div>
						<!-- Quote 2 -->
						<div class="item">
							<blockquote>
								<div class="row">
									<div class="col-sm-8 col-sm-offset-2 client-agileits-w3layouts-w3layouts">

										<p class="paragraph-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
											aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
											Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
										<h5>Tim Mathis</h5>
									</div>
								</div>
							</blockquote>
						</div>
						<!-- Quote 3 -->
						<div class="item">
							<blockquote>
								<div class="row">
									<div class="col-sm-8 col-sm-offset-2 client-agileits-w3layouts-w3layouts">

										<p class="paragraph-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
											aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
											Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
										<h5>Stella</h5>
									</div>
								</div>
							</blockquote>
						</div>
					</div>
					<!-- Carousel Buttons Next/Prev -->
					<a data-slide="prev" href="#quote-carousel" class="left carousel-control">
						<i class="fa fa-chevron-left"></i>
					</a>
					<a data-slide="next" href="#quote-carousel" class="right carousel-control">
						<i class="fa fa-chevron-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- testimonials -->

	<!-- contact -->
	<!-- mail -->
	<div class="contact-sectn" id="contact">
		<div class="container">
			<h3 class="w3layouts-heading white-title">Contact
				<span>Us</span>
			</h3>
			<div class="w3-agile_mail_grids">
				<div class="col-md-5 contact-left-w3-agile-sectn">
					<h2>Contact Info</h2>
					<div class="visit">
						<div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
							<span class="fa fa-home" aria-hidden="true"></span>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-10 contact-text-w3-agile">
							<h4>Visit us</h4>
							<p>Australian Music Centre, Ultimo NSW, Australia</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="mail-w3ls">
						<div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
							<span class="fa fa-envelope" aria-hidden="true"></span>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-10 contact-text-w3-agile">
							<h4>Mail us</h4>
							<p>
								<a href="mailto:info@example.com">info@example.com</a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="call">
						<div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
							<span class="fa fa-phone" aria-hidden="true"></span>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-10 contact-text-w3-agile">
							<h4>Call us</h4>
							<p>+18044261149</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-7 w3-agile_mail_grid_right">
					<h3>Please fill this form to contact with us.</h3>
					<form action="#" method="post">
						<div class="col-md-6 col-sm-6 contact_left_grid">
							<input type="text" name="Name" placeholder="Name" required="">
							<input type="email" name="Email" placeholder="Email" required="">
						</div>
						<div class="col-md-6 col-sm-6 contact_left_grid">
							<input type="text" name="Telephone" placeholder="Telephone" required="">
							<input type="text" name="Subject" placeholder="Subject" required="">
						</div>
						<div class="clearfix"> </div>
						<textarea name="Message" placeholder="Message..." required=""></textarea>
						<input type="submit" value="Submit">
						<input type="reset" value="Clear">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //mail -->
	<!-- map -->
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.302188786696!2d151.19412271528753!3d-33.881870380652614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae28dcf1222f%3A0x59cf08dfbd1c13bf!2sAustralian+Music+Centre!5e0!3m2!1sen!2sin!4v1518761295689"></iframe>
	</div>
	<!-- //map -->
	<!-- /contact -->
	<div class="copy">
		<p>© 2018 Stereo . All Rights Reserved | Design by
			<a href="http://w3layouts.com/">W3layouts</a>
		</p>
	</div>
	<!--/footer -->

	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!--search-bar-->
	<script src="js/main.js"></script>
	<!--//search-bar-->
	<!-- FlexSlider -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(function () {});
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!-- FlexSlider -->
	<!-- about-section-flexisel-slider-->
	<script type="text/javascript">
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: false,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<script type="text/javascript" src="js/jquery.flexisel.js"></script>
	<!-- //about-section-flexisel-slider-->
	<script src="js/jzBox.js"></script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<!-- //smooth scrolling -->
	<script src="js/bootstrap.js"></script>

</body>

</html>