
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Rock Star a Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Rock Star Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link href="css/galleryeffect.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- fonts -->
<link href='//fonts.googleapis.com/css?family=Rajdhani:400,300,500,600,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- //fonts -->
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
<script src="js/responsiveslides.min.js"></script>
					<script>
											// You can also use "$(window).load(function() {"
											$(function () {
											 // Slideshow 4
											$("#slider3").responsiveSlides({
												auto: true,
												pager: true,
												nav: false,
												speed: 500,
												namespace: "callbacks",
												before: function () {
											$('.events').append("<li>before event fired.</li>");
											},
											after: function () {
												$('.events').append("<li>after event fired.</li>");
												}
												});
												});
					</script>
<!-- menu sliding -->
	<link rel="stylesheet" href="css/idangerous.swiper.css">
	<script type='text/javascript' src='js/idangerous.swiper.min.js'></script>
	<script type='text/javascript' src='js/masonry.pkgd.min.js'></script>
	<script type='text/javascript' src='js/custom.js'></script>
<!-- //menu sliding -->
</head>
<body>
<!-- banner -->
<div id="main-wrapper">
	<div id="top">
		<a href="#" id="sidebar-button"></a>
		<header id="logo">
			<div id="home" class="grid__item color-9">
				<h1><a class="link link--ilin" href="index.html"><span>Rock </span><span>Star</span></a></h1>
			</div>
		</header>
		<div class="search-box">
			<form action="javascript:void(0);" method="get">
			
			<fieldset>
				
				<ul class="toolbar clearfix">

					<li><input type="search" id="search" placeholder="What are you looking for?"></li>
					<li><button type="submit" id="btn-search"><span class="fontawesome-search"></span></button></li>

				</ul>

			</fieldset>

			</form>
		</div>
		<script>
			( function() {

				$('#btn-search').on('click', function(e) {

					e.preventDefault();
					$('#search').animate({width: 'toggle'}).focus();

				});

			} () );
		</script>

	</div>
	<!-- Content -->
	<div id="content">
		<div id="fullscreen-slider" class="swiper-container">
			
				<div class="banner-text">
					<div class="banner-info">
						<h3>Never Under estimate <span>the power of</span> Rock music</h3>
					</div>
				</div>
		</div>
		<div id="about" class="banner-bottom">
			<div class="container">
				<div class="col-md-4 bottom-left">
					<h3>Welcome To Rock Star</h3>
					<p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
					consectetur, adipisci velit, sed quia non numquam eius modi tempora 
					incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
										
					</p>
				</div>
				<div class="col-md-8 bottom-right">
					<div class="bot-left">
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								<span class="sr-only">60% Complete</span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								<span class="sr-only">60% Complete</span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								<span class="sr-only">60% Complete</span>
							</div>
						</div>
					</div>
					<div class="bot-right">
						<div class="content-item">
							<div class="overlay"></div>
							  <div class="corner-overlay-content"></div>
							  <div class="overlay-content">
								<h4>Repudiandae</h4>
								<p>Logo for a screen printing company. They wanted 
								a detachable recognizable brand that didn't need the name of the company.
								</p>
							  </div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="content-grid">
			<div class="container">
				<div class="col-md-8 bottom-right-one">
					<div class="bot-right-one">
						<div class="content-item content-one">
							<div class="overlay"></div>
							  <div class="corner-overlay-content"></div>
							  <div class="overlay-content">
								<h4>Repudiandae</h4>
								<p>Logo for a screen printing company. They wanted 
								a detachable recognizable brand that didn't need the name of the company.
								</p>
							  </div>
						</div>
					</div>
					<div class="bot-left-one">
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								<span class="sr-only">60% Complete</span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								<span class="sr-only">60% Complete</span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								<span class="sr-only">60% Complete</span>
							</div>
						</div>
					</div>
					
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 bottom-left-one">
					<h3>Feel The Power Of Music</h3>
					<p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
					consectetur, adipisci velit, sed quia non numquam eius modi tempora 
					incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
										
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div id="services" class="instruments">
			<div class="container">
				<h3>Music is the voice of the soul</h3>
				<div class="inst-grids">
					<div class="col-md-3 services-gd text-center wow fadeInLeft animated" data-wow-delay=".5s">
						<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
							<a href="#" class="hi-icon"><img src="images/icon1.png" alt=" " /></a>
						</div>
						<h4>Accusantium</h4>
					</div>
					<div class="col-md-3 services-gd text-center wow fadeInLeft animated" data-wow-delay=".5s">
						<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
							<a href="#" class="hi-icon"><img src="images/icon2.png" alt=" " /></a>
						</div>
						<h4>Doloremque</h4>
					</div>
					<div class="col-md-3 services-gd text-center wow fadeInLeft animated" data-wow-delay=".5s">
						<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
							<a href="#" class="hi-icon"><img src="images/icon3.png" alt=" " /></a>
						</div>
						<h4>Voluptatem</h4>
					</div>
					<div class="col-md-3 services-gd text-center wow fadeInLeft animated" data-wow-delay=".5s">
						<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
							<a href="#" class="hi-icon"><img src="images/icon4.png" alt=" " /></a>
						</div>
						<h4>Consequatur</h4>
					</div>
					<div class="clearfix"> </div>		
				</div>
			</div>
		</div>
		<div id="gallery" class="gallery">
			<div class="container">
				<h3>Our Albums</h3>
				<section>
				<ul class="lb-album">
					<li class=" col-md-4 grid">
						<div class="gal-one">
							<a href="#image-1">
								<figure class="effect-apollo">
									<img src="images/g1.jpg" alt="image1">
									<figcaption>
									</figcaption>			
								</figure>
							</a>
								<div class="lb-overlay" id="image-1">
										<img src="images/g1.jpg" alt="image1" />
										<div class="gal-info">							
											<h3>Rock Star</h3>
											<p>Neque porro quisquam est, qui dolorem ipsum 
											quia dolor sit amet, consectetur, adipisci velit, 
											sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem.</p>
										</div>
										<a href="index.html" class="lb-close">Close</a>
								</div>
						</div>
						<div class="gal-two">
							<h5>Doloremque</h5>
							<p>Neque porro quisquam est, qui dolorem ipsum 
							quia dolor sit amet, consectetur, adipisci velit 
							</p>
						</div>
						<div class="gal-one">
							<a href="#image-2">
								<figure class="effect-apollo">
									<img src="images/g2.jpg" alt="image2">
									<figcaption>
									</figcaption>			
								</figure>
							</a>
								<div class="lb-overlay" id="image-2">
										<img src="images/g2.jpg" alt="image2" />
										<div class="gal-info">							
											<h3>Rock Star</h3>
											<p>Neque porro quisquam est, qui dolorem ipsum 
											quia dolor sit amet, consectetur, adipisci velit, 
											sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem.</p>
										</div>
										<a href="index.html" class="lb-close">Close</a>
								</div>
						</div>
					</li>
					<li class=" col-md-4 grid">
						<div class="gal-one">
							<a href="#image-3">
								<figure class="effect-apollo">
									<img src="images/g3.jpg" alt="image3">
									<figcaption>
									</figcaption>			
								</figure>
							</a>
								<div class="lb-overlay" id="image-3">
										<img src="images/g3.jpg" alt="image3" />
										<div class="gal-info">							
											<h3>Rock Star</h3>
											<p>Neque porro quisquam est, qui dolorem ipsum 
											quia dolor sit amet, consectetur, adipisci velit, 
											sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem.</p>
										</div>
										<a href="index.html" class="lb-close">Close</a>
								</div>
						</div>
						<div class="gal-one gal-three">
							<a href="#image-4">
								<figure class="effect-apollo">
									<img src="images/g4.jpg" alt="image4">
									<figcaption>
									</figcaption>			
								</figure>
							</a>
								<div class="lb-overlay" id="image-4">
										<img src="images/g4.jpg" alt="image4" />
										<div class="gal-info">							
											<h3>Rock Star</h3>
											<p>Neque porro quisquam est, qui dolorem ipsum 
											quia dolor sit amet, consectetur, adipisci velit, 
											sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem.</p>
										</div>
										<a href="index.html" class="lb-close">Close</a>
								</div>
						</div>
						<div class="gal-one">
							<a href="#image-5">
								<figure class="effect-apollo">
									<img src="images/g5.jpg" alt="image5">
									<figcaption>
									</figcaption>			
								</figure>
							</a>
								<div class="lb-overlay" id="image-5">
										<img src="images/g5.jpg" alt="image5" />
										<div class="gal-info">							
											<h3>Rock Star</h3>
											<p>Neque porro quisquam est, qui dolorem ipsum 
											quia dolor sit amet, consectetur, adipisci velit, 
											sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem.</p>
										</div>
										<a href="index.html" class="lb-close">Close</a>
								</div>
						</div>
					</li>
					<li class="col-md-4 grid">
						<div class="gal-one gal-five">
							<a href="#image-6">
								<figure class="effect-apollo">
									<img src="images/g6.jpg" alt="image6">
									<figcaption>
									</figcaption>			
								</figure>
							</a>
								<div class="lb-overlay" id="image-6">
										<img src="images/g6.jpg" alt="image6" />
										<div class="gal-info">							
											<h3>Rock Star</h3>
											<p>Neque porro quisquam est, qui dolorem ipsum 
											quia dolor sit amet, consectetur, adipisci velit, 
											sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem.</p>
										</div>
										<a href="index.html" class="lb-close">Close</a>
								</div>
						</div>
						<div class="gal-two gal-five gal-six">
							<h5>Doloremque</h5>
							<p>Neque porro quisquam est, qui dolorem ipsum 
							quia dolor sit amet, consectetur, adipisci 
							</p>
						</div>
						<div class="gal-one gal-five">
							<a href="#image-7">
								<figure class="effect-apollo">
									<img src="images/g7.jpg" alt="image7">
									<figcaption>
									</figcaption>			
								</figure>
							</a>
								<div class="lb-overlay" id="image-7">
										<img src="images/g7.jpg" alt="image7" />
										<div class="gal-info">							
											<h3>Rock Star</h3>
											<p>Neque porro quisquam est, qui dolorem ipsum 
											quia dolor sit amet, consectetur, adipisci velit, 
											sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem.</p>
										</div>
										<a href="index.html" class="lb-close">Close</a>
								</div>
						</div>
					</li>
					<div class="clearfix"> </div>
				</ul>
			</section>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="testimonials">
			<div class="container">
				
				<div class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="test-test">
								<div class="col-md-4 test-left text-center">
									<img src="images/test1.png" alt=" " />
								</div>
								<div class="col-md-8 test-right">
									<p>Neque porro quisquam est, qui dolorem ipsum 
															quia dolor sit amet, consectetur, adipisci velit, 
															sed quia non numquam eius modi tempora incidunt ut
															labore et dolore magnam aliquam quaerat voluptatem.
										Neque porro quisquam est, qui dolorem ipsum 
															quia dolor sit amet, consectetur, adipisci velit, 
															sed quia non numquam eius modi tempora incidunt ut
															labore et dolore magnam aliquam quaerat voluptatem.</p>
									<h5> Kimberly Thompson</h5>
								
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
						<li>
							<div class="test-test">
								<div class="col-md-4 test-left text-center">
									<img src="images/test2.png" alt=" " />
								</div>
								<div class="col-md-8 test-right">
									<p>Neque porro quisquam est, qui dolorem ipsum 
															quia dolor sit amet, consectetur, adipisci velit, 
															sed quia non numquam eius modi tempora incidunt ut
															labore et dolore magnam aliquam quaerat voluptatem.
										Neque porro quisquam est, qui dolorem ipsum 
															quia dolor sit amet, consectetur, adipisci velit, 
															sed quia non numquam eius modi tempora incidunt ut
															labore et dolore magnam aliquam quaerat voluptatem.</p>
									<h5> Federic Victoria</h5>
								
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
						<li>
							<div class="test-test">
								<div class="col-md-4 test-left text-center">
									<img src="images/test3.png" alt=" " />
								</div>
								<div class="col-md-8 test-right">
									<p>Neque porro quisquam est, qui dolorem ipsum 
															quia dolor sit amet, consectetur, adipisci velit, 
															sed quia non numquam eius modi tempora incidunt ut
															labore et dolore magnam aliquam quaerat voluptatem.
										Neque porro quisquam est, qui dolorem ipsum 
															quia dolor sit amet, consectetur, adipisci velit, 
															sed quia non numquam eius modi tempora incidunt ut
															labore et dolore magnam aliquam quaerat voluptatem.</p>
									<h5>William Patrick</h5>
								
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="team" class="singers">
			<div class="container">
				<h3>Popular Singers</h3>
					<div class="col-md-4 team-gs text-center">
						<div class="ih-item circle effect1"><a href="#">
							<div class="spinner"></div>
							<div class="img"><img src="images/t1.jpg" alt="img"></div>
							<div class="info">
							  <div class="info-back">
								<h3>Victoria</h3>
								<p>Description goes here</p>
							  </div>
							</div></a>
							
						</div>
						<p class="team-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
						<div class="team_pos">
								<ul>
									<li>
										<a href="#"><div class="morph pic fb_icon1">
											
										</div></a>
									</li>
									<li>
										<a href="#"><div class="morph pic fb_icon2">
											
										</div></a>
									</li>
									<li>
										<a href="#"><div class="morph pic fb_icon3">
											
										</div></a>
									</li>
								</ul>
						</div>
					</div>
					<div class="col-md-4 team-gs text-center">
						<div class="ih-item circle effect1"><a href="#">
							<div class="spinner"></div>
							<div class="img"><img src="images/t2.jpg" alt="img"></div>
							<div class="info">
							  <div class="info-back">
								<h3>Federica</h3>
								<p>Description goes here</p>
							  </div>
							</div></a></div>
						<p class="team-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
						<div class="team_pos">
								<ul>
									<li>
										<a href="#"><div class="morph pic fb_icon1">
											
										</div></a>
									</li>
									<li>
										<a href="#"><div class="morph pic fb_icon2">
											
										</div></a>
									</li>
									<li>
										<a href="#"><div class="morph pic fb_icon3">
											
										</div></a>
									</li>
								</ul>
						</div>
					</div>
					<div class="col-md-4 team-gs text-center">
						<div class="ih-item circle effect1"><a href="#">
							<div class="spinner"></div>
							<div class="img"><img src="images/t3.jpg" alt="img"></div>
							<div class="info">
							  <div class="info-back">
								<h3>Thompson</h3>
								<p>Description goes here</p>
							  </div>
							</div></a></div>
						<p class="team-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
						<div class="team_pos">
								<ul>
									<li>
										<a href="#"><div class="morph pic fb_icon1">
											
										</div></a>
									</li>
									<li>
										<a href="#"><div class="morph pic fb_icon2">
											
										</div></a>
									</li>
									<li>
										<a href="#"><div class="morph pic fb_icon3">
											
										</div></a>
									</li>
								</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
			</div>
		</div>
		<div id="contact" class="contact">
			<div class="container">	
				<div class="col-md-5 contact-left">
					<h3>Information</h3>
					<form>
						<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
						<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
						<textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
						<input type="submit" value="Send" >
					</form>
				</div>
				<div class="col-md-3 contact-left">
					<h3>Address</h3>
					<h2>Rock Star</h2>
					<p>Diamond street,<br>
						260-14 City,<br>
						Newyork
						</p>
					<p>Phone no :+3402 890 679<br>
					Fax : +5356 890 679</p>
					<p>Email : <a href="mailto:info@example.com"> info@example.com</a></p>
					<div class="team_pos">
						<ul>
							<li>
								<a href="#"><div class="morph pic fb_icon1"></div></a>
							</li>
							<li><a href="#"><div class="morph pic fb_icon2"></div></a></li>
							<li><a href="#"><div class="morph pic fb_icon3"></div></a>
							</li>
							<li><a href="#"><div class="morph pic fb_icon4"></div></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 footer-grid">
					<h3>View On Map</h3>
					<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2482.432383990807!2d0.028213999961443994!3d51.52362882484525!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1423469959819"></iframe>
					<h4>Subscribe Now</h4>
					<form>
						<input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}" required="">
						<input type="submit" value=" ">
					</form>
				</div>
				<div class="clearfix"> </div>
				<p class="footer">&copy; 2016 Rock Star. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
			</div>
		</div>
	</div>
	<div id="sidebar">
		<div id="widgets">
			<nav id="mainmenu">
				<ul>
					<li><a href="#home" class="scroll active">Home</a></li>
					<li><a href="#about" class="scroll">About</a></li>
					<li><a href="#services" class="scroll">Services</a></li>
					<li><a href="#gallery"  class="scroll">Gallery</a></li>
					<li><a href="#team"  class="scroll">Team</a></li>
					<li><a href="#contact"  class="scroll">Contact</a></li>
				</ul>
			</nav>

		</div>
	</div>
</div>
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->

<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>